<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CivicNode"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CivicNode">

        <!-- Main Launcher Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity android:name=".auth.RoleSelectionActivity" android:exported="false"/>
        <activity android:name=".auth.AuthSelectionActivity" android:exported="false"/>
        <activity android:name=".auth.LoginActivity" android:exported="false"/>
        <activity android:name=".auth.RegisterActivity" android:exported="false"/>
        <activity android:name=".auth.OTPVerificationActivity" android:exported="false"/>
        <activity android:name=".auth.ResetPasswordActivity" android:exported="false"/>

        <!-- Dashboard Activities -->
        <activity android:name=".dashboard.UserDashboardActivity" android:exported="false"/>
        <activity android:name=".dashboard.ServiceProviderDashboardActivity" android:exported="false"/>

        <!-- Home Activity -->
        <activity android:name=".home.HomeActivity" android:exported="false"/>

        <!-- Other Features -->
        <activity android:name=".electricity.ElectricityServiceActivity" android:exported="false"/>
        <activity android:name=".water.WaterServiceActivity" android:exported="false"/>
        <activity android:name=".complaints.ComplaintSubmissionActivity" android:exported="false"/>
        <activity android:name=".payments.PaymentActivity" android:exported="false"/>
        <activity android:name=".ai_chatbot.ChatbotActivity" android:exported="false"/>
        <activity android:name=".notifications.NotificationsActivity" android:exported="false"/>
        <activity android:name=".profile.UserProfileActivity" android:exported="false"/>

    </application>

</manifest>
